.container .table{
    margin-top: 5px;
    border-collapse: collapse;
    border: 3px solid  #f42d0f50;
}

.table .table-header{
    padding: 10px;
    text-align: center;
    background-color: #f42d0fa8;
    color: white;
}

.table .table-body{
    padding: 10px;
    text-align: center;
    padding: 12px;
}

.table .table-body tr:hover{
    background-color: #ddd;
}


